/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-11-2019, 15:14:50
    Author     : BTS4LIFE
*/
VBox {
    -fx-alignment: CENTER;
    -fx-font: "Tahoma";
    -fx-padding: 10;
    -fx-spacing: 20;
    -fx-background-color: lightblue;
    -fx-font-size:20;
}

VBox.Admin_NTV, VBox.Admin_NTD {
    -fx-alignment: TOP_CENTER;
    -fx-padding: 3;
    -fx-spacing: 2;
}

VBox.vboxNTV {
    -fx-alignment: top-center;
    -fx-padding: 5;
    -fx-spacing: 5;
}

Text.logo, Text.txtNTV {
    -fx-alignment: CENTER;
    -fx-fill: blue;
    -fx-stroke: black;
    -fx-stroke-width: 2;
    -fx-font-size: 40;
}

HBox {
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 3;
    -fx-font-size: 13;
}

HBox.Admin_NTV {
    -fx-padding-top: 0;
}

HBox.DangNhap {
    -fx-alignment: CENTER;
    -fx-spacing: 20;
}

HBox.dn_user, HBox.dn_pass, HBox.dn_dk_button {
    -fx-alignment: CENTER;
    -fx-spacing: 2;
}

Button {
    -fx-background-color: darkblue;
}

Text.lbName {
    -fx-alignment: CENTER;
    -fx-fill: blue;
    -fx-stroke: black;
    -fx-stroke-width: 0.8;
    -fx-font-size: 20;
}

Button:hover {
    -fx-background-color: red;
}

Button.DangNhapNTD, Button.DangKiNTD, Button.TrangChuNTV, Button.WhiteText {
    -fx-text-fill: white;
}

MenuBar.ntvMenu {
    -fx-alignment:BASELINE_LEFT;
}

/*
Đăng ký nhà tuyển dụng
*/

VBox.DangKy {
    -fx-alignment: CENTER;
    -fx-font: "Tahoma";
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-background-color: lightblue;
    -fx-font-size:30;
}

Text.dangkyntd {
    -fx-font-size: 20;
}

Text.sao {
    -fx-font-size: 20;
    -fx-fill: red;
}

Text.dkntd {
    -fx-alignment: CENTER;
    -fx-fill: blue;
    -fx-stroke: black;
    -fx-stroke-width: 0.8;
    -fx-font-size: 30;
}

.textFieldNTD {
    -fx-font-size: 16;
}

Button.ButtonNTD{
    -fx-font-size: 20;    
}

HBox.TrangChuNTV, HBox.TrangChuNTD, HBox.DangNhapMenu, HBox.DangKiMenu {
    -fx-padding: 3;
    -fx-background-color: lightblue;
}

BorderPane { 
    -fx-background-color: lightblue;
}

Text.txtTitleAdmin_NTD, Text.txtTitleAdmin_NTV {
    -fx-alignment: CENTER;
    -fx-fill: blue;
    -fx-stroke: black;
    -fx-stroke-width: 0.8;
    -fx-font-size: 30;
}
